name: gitleaks

on: [push, pull_request]

env:
 tf_version: 'latest'
 tf_working_dir: 'test'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: tf-fmt
        uses: hashicorp/terraform-github-actions@master
        with: 
          tf_actions_version: ${{ env.tf_version }}
          tf_actions_subcommand: 'fmt'
          tf_actions_working_dir: ${{ env.tf_working_dir }}
          tf_actions_comment: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
      - name: init
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: ${{ env.tf_version }}
          tf_actions_subcommand: 'init'
          tf_actions_working_dir: ${{ env.tf_working_dir }}
          tf_actions_comment: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: plan
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: ${{ env.tf_version }}
          tf_actions_subcommand: 'plan'
          args: '-out=plan.out'
          tf_actions_working_dir: ${{ env.tf_working_dir }}
          tf_actions_comment: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.aws_access_key }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.aws_secret_key }}
      - name: Installling tf-complience 
        run: |
          sudo apt-get install python3-dev python3-pip python3-venv python3-wheel gcc libpq-dev python3-setuptools
          pip3 install terraform-compliance
      - name: Add comment to PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ~/.local/bin/terraform-compliance -f . -p test/plan.out >> ../tf-complience.out
          export tf-complience=$(cat main.tf)
          expport fmtPayload=$(echo "${tf-complience}" | jq -R --slurp '{body: .}')
          echo "${fmtPayload}" | curl -X POST $(cat ${GITHUB_EVENT_PATH} | jq -r .pull_request.comments_url) -H "Content-Type: application/json" -H "Authorization: token $GITHUB_TOKEN" --data @-

      # - name: Run terraform-compliance
      #   run: |              #
      #   #  ~/.local/bin/terraform-compliance -f . -p test/plan.out
      #     curl -X POST \
      #         $URL \
      #       -H "Content-Type: application/json" \
      #       -H "Authorization: token $GITHUB_TOKEN" \
      #       --data '{ "body": "blah blah" }'
      # # - name: comment PR
      #   uses: unsplash/comment-on-pr@master
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     msg: echo `cat tf-complience.out`
      #     check_for_duplicate_msg: true
          
      #export URL=$(cat ${GITHUB_EVENT_PATH} | jq -r .pull_request.comments_url)

      

        # && pip3 install terraform-compliance
    



