name: gitleaks
on: [push, pull_request]

env:
 tf_version: 'latest'
 tf_working_dir: 'test'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      #       #      - uses: actions/checkout@master
      # - uses: aslafy-z/gitleaks-action@master
      # - uses: aslafy-z/gitleaks-action@master
      - name: tf-fmt
        uses: hashicorp/terraform-github-actions@master
        with:
          tf_actions_version: ${{ env.tf_version }}
          tf_actions_subcommand: 'fmt'
          tf_actions_working_dir: ${{ env.tf_working_dir }}
          tf_actions_comment: true
        # env:
        #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
